@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "El Messiri", sans-serif;
}

body {
  color: rgb(51, 51, 51);
}

i {
  pointer-events: none;
}

.colors {
  min-height: 80vh;
  color: rgb(212, 212, 212);
  display: flex;
}

.color {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
  position: relative;
  overflow: hidden;
}

.color h2 {
  font-size: 1.5rrem;
  cursor: pointer;
}

.sliders {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  background: #fff;
  padding: 10px;
  width: 80%;
  border-radius: 10px 10px 0 0;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  transform: translateY(100px);
  pointer-events: none;
}

.sliders.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}

.sliders button,
.close-save {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 0.5rem;
  font-size: 1.1rem;
  border: none;
  background: crimson;
  color: #fff;
  cursor: pointer;
  border-radius: 0 10px 0 0;
}

.controls {
  display: flex;
  flex-direction: column;
}

.panel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 20vh;
}

.panel button,
.submit-save {
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  margin: 1rem;
  border: none;
  color: #fff;
  background: rgb(12, 19, 83);
  border-radius: 3px;
  cursor: pointer;
}

.panel p {
  font-size: 1.2rem;
}

.library-panel,
.generate-panel,
.save-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adjust,
.lock {
  font-size: 1.5rem;
  border: none;
  background: none;
  cursor: pointer;
  margin: 2rem 0;
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 0.4rem 0;
  width: 100%;
  position: relative;
  border-radius: 2rem;
  cursor: pointer;
  height: 8px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid rgb(192, 192, 192);
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.copy-container,
.save-container,
.library-container {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.copy-container.active,
.save-container.active,
.library-container.active {
  opacity: 1;
  pointer-events: all;
}

.copy-popup,
.save-popup,
.library-popup {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  transition: transform 0.5s ease;
  transform: translateY(-2rem);
  min-width: 30%;
  min-height: 30vh;
}

.copy-popup.active {
  transform: translateY(0);
}

.copy-popup h3,
.save-popup h3,
.library-popup h3 {
  font-size: 1.5rem;
  padding: 1.5rem;
}

.save-name {
  padding: 1rem;
  font-size: 1.5rem;
}

@media (max-width: 775px) {
  .colors {
    flex-direction: column;
  }

  .color,
  .sliders,
  .controls {
    flex-direction: row;
  }

  .sliders {
    display: block;
  }

  .sliders span {
    margin-right: 5px;
  }

  .color {
    height: 30vh;
    flex: auto;
  }

  .controls button {
    padding: 0 2rem;
  }

  .saturation,
  .hue,
  .brightness {
    display: flex;
  }

  .panel {
    background: #fff;
    /* position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; */
    height: auto;
  }

  .cl_05 {
    display: none;
  }
}
